/* hai(na)ku */
body {
    background-image: url("https://images.ctfassets.net/81iqaqpfd8fy/49HjKcAPz2moYYksOQSSWa/c8e2666e3d4a147da97cd8d18402cfe4/Tsunami_Wave.jpg?w=1200&h=1200&fm=jpg&fit=fill");
    background-position: top;
    background-size:cover;
}
pre {
    font-style: italic;
    color: #c7cf81;
    text-align: center;
}
h1 {font-size: 50pt;}
h3 {font-style: oblique;}
h1, h3 {
    text-align: center;
    color: #bbe2ee;
    line-height: 10pt;
}
hr {
    width: 45%;
    margin: auto;
}
em {
    font-style: italic;
    font-size: 20pt;
}


.swswswsw {
    /* border gradient -45deg 5px */
    border-image: linear-gradient(-45deg, #167aec, #4d9f0c) 50;
    border-width: 5px;
    border-style: solid;
    /* frame size */
    height: 160px;
    width: 200px;
    padding: 20px;
    /* bg image */
    background-image: url("https://images3.alphacoders.com/654/654249.png");
    background-size:cover;
    background-color: #505040;
    /* frame position */
    position: absolute;  
    top: 20px; 
    left: 70px;
    margin:auto;
    margin-left:20px;
    opacity: .5;
}
.swswswsw:hover {
    /* border gradient -45deg 5px */
    opacity: 1;
}
.sheesh {
    /* border dotted */
    border:#fafafa 5px dotted;
    /* background-iage: linear-gradient(45deg, #566766, #789325);
    background-size:cover;
    background-color: #566766; */
    height: 50px;
    width: 50px;
    padding: 10px;
    opacity: 0.4;
    /* frame position */
    position: absolute;  
    top: 165px; 
    left: 280px;
}
.sheesh:hover {
    opacity: .8;
}
.ahhhhh{
    border:#fafafa 2px solid;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: center;
}
.yeahbwoi {
    background-image: url(https://media.tenor.com/n8DB4bmpduIAAAAM/yeah-bwoi-grin.gif);
    background-size:cover;
    height: 200px;
    width: 200px;
    transform: rotate(-20deg);
    position: absolute; 
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}