body {background-color: cyan;}
div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin-bottom: 5px;
    margin-top: 5px;
}
.box1 {
    font-style: italic; 
    text-align: left; 
    background-color: #cca425; /*i assume it is gold. wew*/
}
.box2 {
    font-family: Arial, sans-serif; 
    background-color: #335bda; /*because the opposite of that particular shade of gold is "Enchanting Sapphire" blue*/
    position: absolute;
    top:8px;
    right:16px;
}
.box3 {
    background-color: #eeeeee;
    border:black 2px dotted;
    position: absolute;
    inset: 50% 0% 0% 50%;
}
.box4 {
    color: green;
    border: 4px green dashed;
    padding: 3pt; 
    font-size: 8pt; 
    font-variant: small-caps;
}
.box5 {
    color:#cca425, #335bda, #eeeeee;
    text-align: center;
    font-style: oblique;
    font-family: Verdana, sans-serif;
    font-size: larger;
}
.box6 {
    background-color: teal;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 40%;
}
.box7 {
    background-color: maroon;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
}